.container {
  padding: 48px;
}

.space-y-8 > *:not(:first-child) {
  margin-top: 8px;
}

.space-y-16 > *:not(:first-child) {
  margin-top: 16px;
}

.space-x-16 > *:not(:first-child) {
  margin-left: 16px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.p-8 {
  padding: 8px;
}

.text-lg {
  font-size: 48px;
}

.text-md {
  font-size: 30px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-dark {
  color: #0F0B43;
}

.bg-white {
  background: #F1F2F5;
}

.bg-white-75 {
  background: rgba(241, 242, 245, 0.75);
}

.bg-purple-500 {
  background: #685EE0;
}

.rounded-lg {
  border-radius: 14px;
}

.border {
  border: 2px solid;
}

.border-purple-300 {
  border-color: #a39de0;
}

.border-purple-700 {
  border-color: #5145E0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}